/* TODO: Fix missaligned arrows and swipe__content (ALMOST DONE)
         Fix responsiveness of image when narrowing view */

/* ------------------------------------- */
/* Fixes needed to show swiper correctly */
/*                                       */
html,
body {
  position: relative;
  height: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
    /* max-width: 1920px;
    max-height: 700px; */
}

/* Center content of swiper */
.swiper-slide {
    color: var(--color-text-white);
    overflow: auto;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: left;
    justify-content: left;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}  

/*                                       */
/* ------------------------------------- */

/* Modify arrow and button color  */
.swiper-button-prev, 
.swiper-button-next { 
    color: var(--color-icon-white);
    transition: ease-in-out 0.15s;
}

.swiper-button-prev:hover, 
.swiper-button-next:hover {
    color: var(--color-primary);
    
}

/* Create content inside slides */
.swiper-slide__container {
    height: 76%;
}

.swiper-slide__content {
    background-color: var(--color-transparent-black-50);
    border-radius: 0.4em;
    padding: 1.5em 2em 1.25em 2em;
    margin-left: 12%;
    height: auto;
}

.swiper-slide__content-title {
    color: var(--color-text-white);
    font-family: Roboto, Calibri, Tahoma, sans-serif;
    font-size: 1.3em;
    margin: 12px 0px 1px 0px; 
   
}

.swiper-slide__content-title p {
    margin-bottom: 3%;
}

.swiper-slide__content-description {
    color: var(--color-text-white);
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0px;
    margin: 10px 0px 1px 0px; 
    margin-top: 0px;
}

.swiper-slide__content-description p {
    margin-bottom: 3%;
}

.swiper-slide__content .button {
    margin: 5px 0px 15px 0px; 
}

.swiper-slide__image1,
.swiper-slide__image2,
.swiper-slide__image3 {
    background-position: 50%, 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
}

.swiper-slide__image1 {
    background-image: url("../../img/carrousel1-small.jpg");
}
  
.swiper-slide__image2 {
    background-image: url("../../img/carrousel4-small.jpg");
}
  
.swiper-slide__image3 {
    background-image: url("../../img/carrousel3-small.jpg");
}

/* Bigger than 360 */
@media (min-width: 360px) {
    .swiper-slide__content { 
        width: 60%;
        height: auto;
        font-size: 1em;
        margin-left: auto;
        margin-right: auto;
        padding: 0.7em 1.0em 0.7em 1em;
    }
  }


/* Bigger than 550 */
@media (min-width: 550px) {
    .swiper-slide__content { 
        width: 60%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 0.7em 1.0em 0.7em 1em;
        font-size: 1em;
    }
  }

/* Bigger than 750 */
@media (min-width: 768px) {
    .swiper-slide__content { 
        width: 60%;
        height: auto;
        
    }
  }
  
/* Bigger than 1000 */
@media (min-width: 1025px) {
    .swiper-slide__content { 
        width: 20%;
        height: auto;
        margin-left: 12%;
        
    }
  }